body {
    font-family: 'Comfortaa', cursive;
}

.Title {
    font-size: 50px;
}

.titleDiv {
    text-align: center;
}

.delButton {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: red;
}

.delButton:hover {
    transform: translate(0, 1px);
}

.addButton {
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
}

.addButton:hover {
    transform: translate(0, 1px);
}

.todosList {
    font-size: 30px;
    list-style: outside none none;
}

.inputText {
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 2%;
}

.todosElement {
    margin-bottom: 30px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-34 { font-size: 34px; 
                        line-height: 14px;}
.material-icons.md-36 { font-size: 36px; 
                        line-height: 25px;}
.material-icons.md-48 { font-size: 48px; 
                        line-height: 55px;}

.material-icons{
    display: inline-flex;
    vertical-align: bottom;
}

.checkBox {
    width: 25px;
    height: 25px;
}
